*, html, body {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
color: #000000;
}
header{
width:100%;
position: fixed;
background-color: white;
padding: 13px 20px;

}

.header-menu ul{
    list-style: none;
    
}
.menu-link, .burger, .header-logo{
    text-decoration: none;
   
}
.menu-link{
font-size: 16px;
font-weight:600;
line-height: 24px;
letter-spacing: 0.1px;
color: #000000;

}
.header-link-menu li{
    padding-left: 25px;
    
}
.header-link-menu li:first-child{
    padding-left: 0px;
    border: none;
}
.header-link{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-second-part{
    width: 50%;

}

.header-logo{
    transform: translate(-50%);
    letter-spacing: 1.59px;
    font-size: 24px;
    font-weight: bolder;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-action{
    background: #0065F2;
    width: 80px;
    height: 36px;
    border: none;
    cursor: pointer;
}
.span-action{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: white;
    letter-spacing: 0.1px;
}
.sect-1{
    padding-top: 60px;
    margin-bottom: 120px;
}

.sect-block{
width: 445px;
margin-right: 110px;
}
.sect1-photo{
height: 380px;
}
.block-1-1{
    display: block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}
.block-1-2{
display: inline-block;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 60px;
letter-spacing: -1px;
color: #000000;
margin-top: 16px;
margin-bottom: 50px;
}
.sect-block input[type=text]{
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    background: rgba(9, 19, 33, 0.0638304);
    background-blend-mode: multiply;
    width: 320px;
    height: 48px;
    color: #C4C4C4;
    letter-spacing: 0.1px;
    border: none;
    outline: none;
    padding-left: 15px;
    padding-top: 0px;
}
.sect-block input::placeholder{
    color: #C4C4C4;
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 24px;
}
.btn-act{
    display: inline-block;
    width: 120px;
    height: 48px;
    background: #0065F2;
    text-align: center;
letter-spacing: 0.1px;
color: #FFFFFF;
cursor: pointer;
margin-left: -5px;
border: none;
margin-bottom: 20px;
}
.block-1-3{
font-size: 14px;
line-height: 20px;
font-weight: 700;
}
.sect-1-block{
flex-direction:row;
}
@media screen and (max-width:1160px){
    .sect-1{
        padding-top: 50px;
        margin-bottom: 100px;
    }
    .sect-block{
    width: 370px;
    margin-right: 60px;
    }
    .sect1-photo{
        height: 318px;
    }
    .block-1-1{
        text-shadow: none;
        font-weight: 500;
    }
    .block-1-2{
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.5px;
        margin-bottom: 40px;
    }
    .sect-block input[type=text]{
        width: 246px;
    }
    .btn-act{
        display: inline-block;
        width: 124px;
    }

}
@media screen and (max-width:935px){
    .sect-1-block{
        flex-direction:column-reverse;
    }
    .sect-1{
        padding-top: 60px;
        margin-bottom: 94px;
    }
    .sect-block{
    width: 290px;
    margin:auto;
    
    }
    .sect1-photo{
        height: 198px;
        width: 290px;
        margin: auto;
    }
    .block-1-1{
        text-shadow: none;
        font-weight: 500;
    }
    .block-1-2{
        font-size: 32px;
        line-height: 38px;
        letter-spacing: -0.4px;
        margin-bottom: 32px;
    }
    .sect-block input[type=text]{
       
        background: rgba(9, 19, 33, 0.0638304);
        width: 166px;
        height: 48px;
    }
    

}
@media screen and (max-width:870px) {
    .header-menu ul{
        display: none;
    }
    .burger{
        display: block;
        width: 32px;
        height: 32px;
        background: url(../img/sect1/Burger.png) no-repeat center;
    }
    .span-action{
        display: none;
    }
    .header-action{
        width: 32px;
        height: 32px;
        background: url(../img/sect1/Icon.png) no-repeat center;
    }
}
.sect-2{
    margin-bottom: 170px;
}
.sect2-block{
    width: 1000px;
}
.block-2-1{
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px
}
.block-2-2{
    display: block;
    width: 1000px;
    margin-top: 12px;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.5pxpx;
    margin-bottom: 68px;
}
.block-2-3{
    display: block;
    margin: auto;
    width: 540px;
    font-size: 16px;
    font-weight: bolder;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width:1160px){
    .sect-2{
        margin-bottom: 80px;
    }
    .sect2-block{
       width: 450px;
    }
    .block-2-2{
        width: 450px;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: -0.4pxpx;
        margin-bottom: 20px;
    }
    .block-2-3{
        width: 450px;
        text-shadow: none;
    }

}
@media screen and (max-width:935px){
    .sect-2{
        margin-bottom: 80px;
    }
    .sect2-block{
       width: 290px;
    }
    .block-2-2{
        width: 290px;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.1pxpx;
        margin-bottom: 20px;
        margin-top: 12px;
    }
    .block-2-3{
        width: 290px;
        text-shadow: none;
    }
}

.sect-3{
    margin-bottom: 120px;
}
.sect3-gaph{
    height: 380px;
    margin-right: 110px;
}
.sect3-content{
    width: 470px;
}
.block-3-1{
display: block;
font-size: 24px;
font-weight: bold;
line-height: 32px;
letter-spacing: -0.1px;
text-align:justify;
}
.block-3-2{
    display: block;
    margin-top: 16px;
    font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
font-weight: 500;
}
.sect3-link{
    cursor: pointer;
    color: #0065F2;
    text-decoration: none;
}
.sect3-block1{
    display: inline-block;
    width: 200px;
    margin-top: 40px;
    
}
.block-3-3{
    display: block;
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    font-weight: 700;
}
.block-3-4{
    font-size: 14px;
    line-height: 20px;
}
.pay-icons{
    margin-top: 20px;
}
.pay-icons li{
    list-style: none;
    padding-right: 40px;
}
.pay-links{
    text-decoration: none;
    
}
.sect-3-block{
    flex-direction:row;
}
@media screen and (max-width:1160px){
    
    .sect3-gaph{
        height: 318px;
        margin-right: 65px;
    }
    .sect3-content{
        width: 370px;
    }
    .sect3-block1{
        display: inline-block;
        width: 160px;
        margin-top: 16px;
    }
    .pay-icons li{
        list-style: none;
        padding-right: 30px;
    }
}
@media screen and (max-width:935px){
    .sect-3{
        margin-bottom: 80px;
    }
    .sect-3-block{
        flex-direction:column;
    }
    .sect3-gaph{
        height: 198px;
        width: 290px;
        margin:auto;
    }
    .sect3-content{
        width: 290px;
    }
    .sect3-block1{
        display: inline-block;
        width: 130px;
        margin-top: 16px;
    }
}
.sect-4{
    margin-bottom: 60px;
}
.sect4-content{
    width: 470px;
    
}
.sect4-gaph{
    height: 380px;
    margin-left: 110px;
}
.sect-4-block{
    flex-direction:row;
}


@media screen and (max-width:1160px){
    .sect-4{
        margin-bottom: 120px;
    }
    
    .sect4-content{
        width: 370px;
        height: 272px;
    }
    .sect4-gaph{
        height: 318px;
        margin-left: 65px;
    }

}
@media screen and (max-width:935px){
    .sect-4{
        margin-bottom: 80px;
    }
    .sect-4-block{
        flex-direction:column-reverse;
    }
 
    .sect4-content{
        margin-top: 28px;
        width: 290px;
        height: 295px;
    }
    .sect4-gaph{
        height: 198px;
        margin:auto;
    }
    .pay-icons{
        margin-top: 28px;
    }
    .pay-icons li{
        padding-right: 20px;
    }
    .pay-link-1{
        width: 70px;
    }
    .pay-link-2{
        width: 40px;
    }
    .pay-link-3{
        width: 20px;
    }
    .pay-link-4{
        width: 85px;
    }
}

.items{
    list-style: none;
    margin-top: 16px;
    position: relative;
    padding-left: 40px;
}
.items li::before{
    content: '';
    position: absolute;
    background: url(../img/sect6/galka.png) center no-repeat;
    height: 21px;
    width: 25px;
    margin-left: -40px;
}
.items li{
    margin-bottom: 8px;
}

.sect5-content{
    width: 450px;
    
}
.sect-5-block{
    flex-direction:row;
}
@media screen and (max-width:1160px){
    .sect-5{
        margin-bottom: 60px;
    }
    .sect5-content{
        width: 370px;
    }
}
@media screen and (max-width:935px){
    .sect-5-block{
        flex-direction:column;
    }
    
    .sect5-content{
        width: 290px;
        margin-top: 0px;
    }
    .sect5-gaph{
        margin-top: 40px;
        margin-bottom: 0px;
    }
}
.sect-6{
height: 560px;
padding-top: 60px;
width: 100%;

}
.map-block{
    height: 500px;
    width: 100%;
    background: url(../img/map3.png) repeat ;
}
@media screen and (max-width:1160px){
        .sect-6{
        height: 356px;
        padding-top: 0px;
        width: 100%;
        }
        .map-block{
            height: 356px;
        } 
}
@media screen and (max-width:935px){
        .sect-6{
        height: 198px;
        padding-top: 0px;
        width: 100%;
        }
        .map-block{
            height: 198px;
        } 
}
.sect-7{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
}
.sect7-content{
    width: 570px;
    
}
.border{
    border-right: 1px solid #D8D8D8;
}
.read-more{
    display: block;
    width: 350px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color:#0065F2;
    font-weight: 600;
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 24px;
}
.img-line{
    display: inline-block; 
    margin-left: 8.5px;
}
.sect7-text{
    display: block;
    width: 350px;
    margin: auto;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}
.sect7-text-dop{
    display: block;
    width: 350px;
    margin: auto;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    font-weight: 500;

}
@media screen and (max-width:935px){
    .sect-7{
        margin-top: 40px;
        margin-bottom: 40px;
        flex-direction: column;
    }
    .sect7-content{
        width: 290px;
        height: 160px;
        background-color: aquamarine;
    }
    .border{
        border-right: 0px;
    }
    .sect7-text{
        
        width: 290px;
        
    }
    .sect7-text-dop{
        
        width: 290px;
       
    
    }
    .read-more{
        width: 290px;
    }
}
.sect-8{
    display: flex;
    flex-direction: row;
  
}
.sect8-block1{ 
    width: 285px;
    padding-left: 5px;
}
.sect8-block2{
    width: 285px;
    padding-top: 5px;
    
}
.sect8-block3{
    width: 285px;
    padding-left: 5px;
}
.footer-logo{
    font-size: 20px;
    letter-spacing: 1.59px;
    font-weight: bolder;
    color: #000000;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sect8-text{
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin-top: 30px;
    margin-bottom: 28px;
}
.sect8-block1 input[type=email]{
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    background: rgba(9, 19, 33, 0.0638304);
    background-blend-mode: multiply;
    width: 258px;
    height: 48px;
    color: #C4C4C4;
    letter-spacing: 0.1px;
    border: 1px solid black;
    outline: none;
    padding-left: 15px;
    padding-right: 40px;
    padding-top: 0px;
}
.sect8-block1 input::placeholder{
    color: #C4C4C4;
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 24px;
}
.btn-telega{
    background: url(../img/Icon.png) no-repeat center;
    height: 11px;
    width: 13px;
    border: none;
    margin-left: -30px;
    cursor: pointer;
}
.sect-8-icon{
    margin-left: -35px;
    height: 14px;
}
.footer-link{
    text-shadow: none;
}
.sect8-block2 ul{
list-style: none;

}
.sect8-block2 li{
padding-bottom: 15px;
    
}
.sect8-block2{
    width: 285px;
    height: 180px;
    padding-top: 5px;
}
.wrap-8{
    width: 285px;
    height: 180px;
    display: block;
    columns: 2;
}
.wrap-8 li{
    margin: 10px 0 0 5px;
}
.wrap-8 li:nth-child(4){
    margin-top: 0px;
    margin-bottom: 0px;
}
.wrap-8 li:nth-child(5){
    margin-top: 0px;
}
.wrap{
list-style: none;
align-items: center;
font-size: 14px;
line-height: 32px;
font-weight: 300;

}
.footer-icons{
    margin-right: 10px;
}
@media screen and (max-width:1160px){
    .footer-logo{
        text-shadow: none;
    }
}
@media screen and (max-width:935px){
    .sect-8{
        
        flex-direction: column;
    }
    .footer-logo{
        text-shadow: none;
    }
    .sect8-block3{
        width: 285px;
        
        padding-left: 5px;
    }
}

footer{
    height: 60px;
    
}
.footer-righs{
display: inline-block;
margin: 20px 0px 0px 0px;
font-size: 14px;
line-height: 20px;
align-items: center;
color: #C4C4C4;
text-decoration: none;
padding-right: 10px;
}
.footer-content{
    height: 60px;
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-block{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width:1160px){
    
}
@media screen and (max-width:935px){
    footer{
        height: 148px;
        justify-content: center;
        
    }
    .footer-content{
        width: 285px;
        justify-content:flex-start;
        flex-direction: column;
        padding-left: 5px;
    }
    .footer-block{
        flex-direction: column;
    }
}

